<ion-view title="Contacto" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="contacto-form6" class="list ">
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="contacto-toggle2" class=" ">Recibir notificaciones</ion-toggle>
            <ion-radio id="contacto-radio4" name="radio-sex" class=" ">Hombre</ion-radio>
            <ion-radio id="contacto-radio5" name="radio-sex" class=" ">Mujer</ion-radio>
            <ion-item class="range range-balanced " id="contacto-range1">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <label class="item item-input " id="contacto-input6">
                <span class="input-label">Su nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="contacto-input7">
                <span class="input-label">Su email</span>
                <input type="email" placeholder="">
            </label>
            <ion-checkbox>He leído las condiciones</ion-checkbox>
            <label class="item item-select " id="contacto-select1">
                <span class="input-label">Enviar a ...</span>
                <select>
                    <option>Dirección</option>
                    <option>Administración</option>
                    <option>Recursos humanos</option>
                </select>
            </label>
        </form>
        <button id="contacto-button1" class=" button button-positive  button-block icon-right ion-android-send ">Enviar</button>
    </ion-content>
</ion-view>